body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 1rem;
    color: white;
    width: 10rem;
    height: 5rem;
}
#info{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#info div{
    margin: 15px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 1rem;
    color: white;

}